<%= form_with(model: ensemble, local: true) do |form| %>
  <% if ensemble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ensemble.errors.count, "error") %> prohibited this ensemble from being saved:</h2>

      <ul>
      <% ensemble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
